<h1>Create New Job</h1>

<%= form_for @job, url: {action: "create"} do |f| %>
  <p><%= f.text_field(:name, placeholder: "Name")  %></p>
  <p><%= f.text_field(:command, placeholder: "Shell Command") %></p>
  <p>Schedule: <%= collection_select(:job, :schedule_id, Schedule.all, :id, :name, include_blank: "None") %></p>
  <p><%= link_to "Back", job_path(@job) %>
  <%= f.submit "Create Job" %>
  <% end %>