<h1>Job Info</h1>
  <p>Name: <%= @job.name %></p>
  <p>Command to be run: <%= @job.command %></p>
  <p>Schedule:
    <% if @job.schedule.nil? %>
    <%= "Not scheduled" %>
    <% else %>
    <%= "#{@job.schedule.name}, #{@job.schedule.cron_string}" %>
    <% end %></p>
    <%= link_to "Back", jobs_path %>
  <%= link_to "Edit", edit_job_path(@job) %>
  <%= button_to "Delete Job", job_path(@job), method: "delete", data: {confirm: "Really delete job?", disable_with: "Deleting..."} %>

