<h1>Background Tasker</h1>
<% if current_user %>
  <h3> Hello, <%= current_user.email %></h3>
  <a href="/logout">Logout</a>

  <div class="scheduled_jobs">
    <% if @scheduled_jobs.nil? %>
    No scheduled jobs
    <% else %>
    <table>
      <tr>
        <th>Name</th>
        <th>Schedule</th>
      </tr>
      <% @scheduled_jobs.each do |job| %>
      <tr><td><%= link_to job.name, jobs_path(job) %>
        <td><%= link_to job.schedule.name, schedule_path(job.schedule) %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>

<p>
  <%= link_to 'Jobs', jobs_path %>
</p>
<p><%= link_to 'Schedules', schedules_path %></p>

<p>
  <%= link_to 'Job Log', job_logs_path %>
</p>

  <% else %>
<a href="/login">Login</a>
<% end %>

